<div class="wrapper" [class.sticky]="stickyHeader">
  <div class="inner">
    <div class="logo" (click)="scrollToElement('#home-section')"></div>
    <div class="buttons">
      <a class="nav-button" (click)="scrollToElement('#about-us-section')">About Us</a>
      <a class="nav-button" (click)="scrollToElement('#services-section')">Services</a>
      <a class="nav-button" (click)="scrollToElement('#work-section')">Work</a>
      <a class="nav-button wide" (click)="scrollToElement('#customer-reviews-section')">Customer Reviews</a>
      <a class="nav-button contact-button" (click)="scrollToElement('#contact-section')">Contact</a>
    </div>
    <div class="menu-button" [class.open]="menuOpened" (click)="menuOpened=!menuOpened">
      <img src="assets/icons/menu.svg">
    </div>
    <div class="menu-dropdown" [class.open]="menuOpened">
      <a class="nav-button" (click)="scrollToElement('#about-us-section')">About Us</a>
      <a class="nav-button" (click)="scrollToElement('#services-section')">Services</a>
      <a class="nav-button" (click)="scrollToElement('#work-section')">Work</a>
      <a class="nav-button" (click)="scrollToElement('#customer-reviews-section')">Customer Reviews</a>
      <a class="nav-button" (click)="scrollToElement('#contact-section')">Contact</a>
    </div>
  </div>
</div>
