@import "~src/scss/variables";

:host {
  .wrapper {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    display: flex;
    z-index: $sticky-header-z-index;
    @media screen and (max-width: 1200px) {
      height: 70px;
    }

    &.on-main-page {
      background-color: rgba(255, 255, 255, 0.4);
    }

    &:not(.on-main-page) {
      background-color: $main-color-pink;
    }

    .inner {
      font-family: 'Brother 1816 Thin';
      max-width: $content-area-width;
      width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: 100px auto;
      @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 $spacer 0 $spacer;
      }

      .logo {
        height: 30px;
        align-self: center;
        cursor: pointer;
        @media screen and (max-width: 1200px) {
          height: 20px;
        }
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 1200px) {
          display: none;
        }

        .nav-button {
          width: 105px;
          text-align: center;
          color: white;
          align-self: center;
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;
          cursor: pointer;

          &.wide {
            width: 190px;
          }

          &:hover:not(.call-button) {
            text-shadow: 4px 3px 3px rgba(0,0,0,0.4);
          }
        }

        .call-button {
          background-color: white;
          color: $main-color-blue;
          width: 150px;
          font-size: 18px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;

          &:hover {
            background-color: $main-color-blue;
            color: white;
          }
        }
      }

      .menu-button {
        display: none;
        cursor: pointer;
        @media screen and (max-width: 1200px) {
          display: flex;
          justify-content: flex-end;
        }

        &.open {
          box-shadow: 0 2px 3px grey;
        }

        .call-button {
          background-color: white;
          color: $main-color-blue;
          width: 130px;
          font-size: 17px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          margin-right: 24px;
          text-decoration: none;
          padding: 3px 10px;
          border-radius: 3px;
          @media screen and (max-width: 500px) {
            display: none;
          }

          &:hover {
            background-color: $main-color-blue;
            color: white;
          }
        }
      }

      .menu-dropdown {
        display: none;
        position: absolute;
        background-color: white;
        right: $spacer;
        top: 49px;
        box-shadow: 0 2px 3px grey;
        width: 150px;

        a {
          padding: 10px;
          text-decoration: none;
          color: $main-color-blue;
          font-weight: bold;
          text-align: center;

          &:hover {
            background-color: $main-color-pink;
            color: white;
          }
        }

        &.open {
          display: grid;
          z-index: $sticky-header-z-index;
        }
      }
    }

    &.sticky {
      position: fixed;
      top: 0;
      box-shadow: 0 0 10px grey;
      z-index: $sticky-header-z-index;
      background-color: $main-color-pink
    }
  }
}
