@import "~src/scss/variables";

:host {
  .wrapper {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    background-color: rgba($main-color-pink-r, $main-color-pink-g, $main-color-pink-b, 0.2);
    display: flex;
    @media screen and (max-width: 1200px) {
      height: 70px;
    }

    .inner {
      max-width: $content-area-width;
      width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: 100px auto;
      @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 $spacer 0 $spacer;
      }

      .logo {
        width:50px;
        height: 50px;
        background-color: #13375B;
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 1200px) {
          display: none;
        }

        .nav-button {
          width: 100px;
          text-align: center;
          color: white;
          align-self: center;
          font-size: 18px;
          font-weight: bold;
          text-decoration: none;
          cursor: pointer;

          &.wide {
            width: 180px;
          }

          &:hover:not(.contact-button) {
            text-shadow: 4px 3px 3px rgba(0,0,0,0.4);
          }
        }

        .contact-button {
          background-color: white;
          color: $main-color-blue;
          width: 130px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: $main-color-blue;
            color: white;
          }
        }
      }

      .menu-button {
        display: none;
        cursor: pointer;
        @media screen and (max-width: 1200px) {
          display: flex;
          justify-content: flex-end;
        }

        &.open {
          box-shadow: 0 2px 3px grey;
        }
      }

      .menu-dropdown {
        display: none;
        position: absolute;
        background-color: white;
        right: $spacer;
        top: 49px;
        box-shadow: 0 2px 3px grey;
        width: 150px;

        a {
          padding: 10px;
          text-decoration: none;
          color: $main-color-blue;
          font-weight: bold;
          text-align: center;

          &:hover {
            background-color: $main-color-pink;
            color: white;
          }
        }

        &.open {
          display: grid;
          z-index: $sticky-header-z-index;
        }
      }
    }

    &.sticky {
      position: fixed;
      top: 0;
      z-index: $sticky-header-z-index;
      background-color: $main-color-pink
    }
  }
}
