<div class="wrapper" id="customer-reviews-section">
  <div class="small-title">
    Customer Reviews
  </div>
  <div class="big-title">
    What Our Customers are Saying...
  </div>
  <div class="review-slide-wrapper">
    <div class="arrow-wrapper">
      <div class="arrow arrow-left" (click)="switchLeft()">
        <img src="assets/icons/arrow-white.svg">
      </div>
    </div>
    <div class="slide">
      <div class="text element-scroll-appear" appElementScrollAppear>{{ currentText }}</div>
    </div>
    <div class="arrow-wrapper">
      <div class="arrow arrow-right" (click)="switchRight()">
        <img src="assets/icons/arrow-white.svg">
      </div>
    </div>
  </div>
  <div class="stars">
    <img class="star" *ngFor="let star of currentStars" src="assets/icons/star-filled.svg">
  </div>
  <div class="customer">{{ currentCustomer }}</div>
  <div class="slider-options">
    <div
      *ngFor="let item of reviews, let i = index"
      [class.active]="item.active"
      class="option"
      [ngStyle]="{'background-image': 'url('+item.customerImageUrl+')'}"
      (click)="setActive(i)"
    ></div>
  </div>
</div>
