@import "~src/scss/variables";

:host {
  .wrapper {
    max-width: $content-area-width;
    //padding-bottom: 130px;
    padding-bottom: calc(50px + (130 - 40) * ((100vw - 320px) / (1920 - 320)));
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: calc(75px + (150 - 75) * ((100vw - 320px) / (1920 - 320))) 14% auto;
    @media screen and (max-width: 1000px) {
      grid-template-columns: 15% 85%;
    }
    @media screen and (max-width: 700px) {
      display: block;
      padding-top: 20px;
    }

    .pink-text-wrapper {
      background-color: $main-color-pink;
      writing-mode: tb;
      font-size: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
      font-weight: bold;
      transform: rotate(180deg);
      margin-top: -100px;
      height: calc(250px + (500 - 250) * ((100vw - 320px) / (1920 - 320)));
      min-height: 250px;
      width: calc(75px + (150 - 75) * ((100vw - 320px) / (1920 - 320)));
      min-width: 75px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 700px) {
        display: none;
      }
    }

    .dark-square {
      width: 100px;
      height: 100px;
      background-color: $main-color-blue;
      justify-self: center;
      margin-top: 213px;
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    .text-wrapper {
      padding-top: calc(80px + (323 - 80) * ((100vw - 320px) / (1920 - 320)));
      color: $main-color-blue;
      font-weight: bold;
      @media screen and (max-width: 700px) {
        padding: 50px $spacer 0 $spacer;
      }

      .title {
        font-size: 45px;
        @media screen and (max-width: 700px) {
          font-size: 35px;
        }
      }

      .text {
        margin-top: 30px;
        font-size: 20px;
      }

      button {
        margin-top: 30px;
        width: 200px;
        height: 60px;
        font-size: 18px;
        font-weight: bold;
        color: $main-color-blue;
        background-color: white;
        border: 2px solid $main-color-blue;
        cursor: pointer;
      }
    }
  }
}
