@import "~src/scss/variables";

:host {
  .wrapper {
    padding-top: 130px;
    padding-bottom: 130px;
    @media screen and (max-width: 700px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    .header-wrapper {
      width: 100%;
      max-width: $content-area-width;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 45px;
        font-weight: bold;
        color: $main-color-blue;
        display: flex;
        margin-bottom: 10px;
        @media screen and (max-width: 700px) {
          font-size: 35px;
          margin-bottom: 20px;
        }
        @media screen and (max-width: 1200px) {
          margin-left: $spacer;
        }

        .separator {
          height: 60px;
          width: 10px;
          background-color: $main-color-pink;
          margin-right: 20px;
          @media screen and (max-width: 700px) {
            height: 50px;
          }
        }
      }

      .buttons {
        display: flex;
        @media screen and (max-width: 900px) {
          display: none;
        }
        @media screen and (max-width: 1200px) {
          margin-right: $spacer;
        }

        .button {
          height: 70px;
          width: 70px;
          background-color: $main-color-pink;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          img {
            width: 40px;
          }

          &.button-left {
            img {
              transform: rotate(180deg);
            }
          }

          &.inactive {
            background-color: rgba($main-color-pink-r, $main-color-pink-g, $main-color-pink-b, 0.5);
          }
        }
      }

    }

    .gallery {
      display: block;
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      @media screen and (max-width: 900px) {

      }

      &.few-items {
        display: flex;
        justify-content: center;
        overflow-x: scroll;

        .gallery-item {
          min-width: 250px;
        }
      }

      .gallery-item {
        //height: 650px;
        height: 550px;
        position: relative;
        display: inline-block;
        width: 300px;
        @media screen and (max-width: 900px) {
          width: 250px;
          height: 450px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .shadow {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(transparent 80%, $main-color-blue);

          &:hover {
            background: linear-gradient(transparent 80%, $main-color-pink);
          }
        }

        .text {
          font-size: 32px;
          font-weight: bold;
          color: white;
          position: absolute;
          bottom: 58px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

