<div class="wrapper">
    <div class="contact">
        <div class="title-wrapper">
            <div class="title">Contact</div>
            <div class="title-back">Contact</div>
        </div>

        <div class="form">
            <div class="form-control">
                <input type="text" autocomplete="off" placeholder="Name">
            </div>
            <div class="form-control">
                <input type="text" autocomplete="off" placeholder="Email">
            </div>
            <div class="form-control">
                <input type="text" autocomplete="off" placeholder="Address">
            </div>
            <div class="form-control">
                <textarea placeholder="Your Message"></textarea>
            </div>
            <div class="form-control">
                <button>Submit Now</button>
            </div>
        </div>
    </div>
    <div class="careers">
        <div class="title-wrapper">
            <div class="title">Careers</div>
            <div class="title-back">Careers</div>
        </div>
        <div class="text">Ready to get started? We’re ready to help! Click here for a quote or to consult with one of our professionals.</div>
        <button>
            <img src="assets/icons/arrow-blue.svg">
        </button>
    </div>
  </div>
