@import "~src/scss/variables";

:host {
  .wrapper {
    background-color: $main-color-blue;
    height: 100px;

    .inner {
      max-width: $content-area-width;
      width: 100%;
      height: 100%;
      margin: auto;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        margin: 10px;
      }
    }
  }
}
