$main-color-pink: #ED008C;
$main-color-pink-r: 237;
$main-color-pink-g: 0;
$main-color-pink-b: 140;
$main-color-dark: #13375B;
$main-color-dark-r: 19;
$main-color-dark-g: 55;
$main-color-dark-b: 91;

$content-area-width: 1000px;

$padding: 16px;
$section-margin: 100px;
