$main-color-pink: #ED008C;
$main-color-pink-r: 237;
$main-color-pink-g: 0;
$main-color-pink-b: 140;
$main-color-blue: #13375B;
$main-color-blue-r: 19;
$main-color-blue-g: 55;
$main-color-blue-b: 91;

$secondary-color-gray: #7D7D7D;
$secondary-color-blue: #284D71;

$content-area-width: 1170px;

$padding: 16px;
$section-margin: 100px;

$spacer: 20px;
$sticky-header-z-index: 6;
$our-work-images-activation-z-index: 4;
