<div class="wrapper">
  <div class="dark-square"></div>
  <div class="pink-square"></div>
  <div class="title-wrapper">
    Our
    <div class="title-pink-square">
      Work
    </div>
  </div>
  <div class="images-wrapper">
    <div class="image-wrapper">
      <img class="image image1" [src]="image1.url" alt="image1" [class.image-hover]="image1.hover">
      <div class="image-activation activation1" (click)="setFrontImage(1)" (mouseover)="image1.hover = true" (mouseleave)="image1.hover = false"></div>
    </div>
    <div class="image-wrapper">
      <img class="image image2" [src]="image2.url" alt="image2" [class.image-hover]="image2.hover">
      <div class="image-activation activation2" (click)="setFrontImage(2)" (mouseover)="image2.hover = true" (mouseleave)="image2.hover = false"></div>
    </div>
    <div class="image-wrapper">
      <img class="image image3" [src]="image3.url" alt="image3" [class.image-hover]="image3.hover">
      <div class="image-activation activation3" (click)="setFrontImage(3)" (mouseover)="image3.hover = true" (mouseleave)="image3.hover = false"></div>
    </div>
  </div>
</div>
