<div class="wrapper">
  <div class="dark-square"></div>
  <div class="pink-square"></div>
  <div class="title-wrapper">
    Our
    <div class="title-pink-square">
      Work
    </div>
  </div>
  <div class="images-wrapper">
    <div class="image-wrapper">
      <img class="image image1" [src]="imageUrl1" alt="image1">
    </div>
    <div class="image-wrapper">
      <img class="image image2" [src]="imageUrl2" alt="image2">
    </div>
    <div class="image-wrapper">
      <img class="image image3" [src]="imageUrl3" alt="image3">
    </div>
  </div>
</div>
